// import globale style
@import "src/_globals.scss";

$height: 556px;

.header-container {
    height: $height;
    display: flex;

    background-color: white;
    color: white;
    text-shadow: 2px 2px 0 black;
}

.header-img {
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: transparent;


    img {
        position: relative;
        height: $height;
    }
}

.header-txt {
    position: absolute;
    width: 511px;
    padding-top: 109px;
    text-align: center;
    z-index: 1;

    mix-blend-mode: difference;
}

.scroll-down {
    position: absolute;
    height: $height;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        margin-bottom: 69px;
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            transform:scale(1.1);
        }
    }
}