<div class="header-container">
    <div class="header-img margin-site noselect"><img src="assets/img/profile01.jpg"></div>
    <div class="header-txt margin-site">
        <h1>Alexander Lovasz</h1>
        <span>Hallo, mein Name ist Alexander (Alex) Lovasz. Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit. Nisi nihil consequuntur optio nam. 
            Dolore aliquid quaerat laboriosam perspiciatis nobis dignissimos 
            quas accusantium ea veniam est error quibusdam accusamus, 
            minus quae.</span>
    </div>
    <div class="scroll-down noselect">
        <a href="#"><img src="assets/img/icons/arrow-down-eclipse.png"></a>
    </div>

</div>