<app-navigation-bar></app-navigation-bar>
<div class="about-me-container margin-site box">
    <img src="assets/img/profile02.jpg" alt="photo 2 of me">
    <div class="about-me-txt">
        <h2>About me</h2>
        <div class="underline-h2"></div>

        <div>
            <span>
                " Ich bin ein begeisterter Outdoor-Sportler (Kajakfahren 
                für immer) und Front-End-Entwickler, der gerne 
                Grenzen überschreitet " MUSTER
            </span>
        </div>

        <div>
            <i class="fab fa-js"></i>

        </div>
    </div>

</div>