// import globale style
@import "src/_globals.scss";

h1 {
    margin-top: 0;
}

#legal-notice {
    scroll-margin-top: calc(60px + 64px); // height nav-bar + margin-top
}

.impressum {
    margin-top: calc(64px + 60px); // 64px + height nav-bar
    padding: $spacing-L $spacing-XXL;
    background-color: $background-color02;
}

.privacy-policy {
    margin-top: 64px;
    margin-bottom: 64px;
    padding: $spacing-L $spacing-XXL;

    background-color: $background-color02;
}

a {
    color: $color-primary;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $color-action;
    }
}