<nav>
    <div class="navi-container noselect margin-site">
        <a [routerLink]="'/'" [routerLinkActive]="'router-link-active'" (click)="siteNavigation.scrollSmoothTop('/')">
            <img src="favicon.ico" alt="logo">
        </a>
        <div class="navi-link">
            <a [routerLink]="'/'" (click)="siteNavigation.scrollSmoothTop('/')">
                HOME
            </a>
            <a [routerLink]="'/about-me'" (click)="siteNavigation.scrollTop()">
                ÜBER MICH
            </a>
            <a (click)="siteNavigation.goToAnchor('/', 'projects')"> <!-- [routerLinkActive]="'router-link-active'" -->
                MEINE PROJEKTE
            </a>
        </div>
    </div>
</nav>