<nav>
    <div class="navi-container noselect margin-site">
        <a [routerLink]="'/'" (click)="closeMobileMenu(); siteNavigation.goToAnchor(menuElements[0].router, menuElements[0].anchorLink)">
            <img src="favicon.ico" alt="logo">
        </a>

        <div class="navi-link">
            <a *ngFor="let element of menuElements; let i = index;" 
                (click)="siteNavigation.goToAnchor(element.router, element.anchorLink)" class="">
                {{ element.name }}
            </a>
        </div>

        <div class="mobile-menu">
            <div>
                <input #checkbox type="checkbox" id="checkbox" class="checkbox visuallyHidden">
                <label for="checkbox">
                    <div class="hamburger hamburger1" (click)="openMenu()">
                        <span class="bar bar1"></span>
                        <span class="bar bar2"></span>
                        <span class="bar bar3"></span>
                        <span class="bar bar4"></span>
                    </div>
                </label>
            </div>
            <div #mobileMenu class="opn-mobile-menu d-none">
                <a *ngFor="let element of menuElements; let i = index;" 
                    (click)="closeMobileMenu(); siteNavigation.goToAnchor(element.routerMobile, element.anchorLink)" class="">
                    {{ element.name }}
                </a>
                <a (click)="closeMobileMenu(); siteNavigation.goToAnchor('/', 'contact')">Kontakt</a>
                <a (click)="closeMobileMenu(); siteNavigation.goToAnchor('/legal-notice', 'legal-notice')" style="text-align: center;">
                    Impressum <br> Datenschutzerklärung
                </a>
            </div>


        </div>

    </div>
</nav>