// import globale style
@import "src/_globals.scss";

nav {
    background-color: white;
    box-shadow: 0 2px 5px #0000004d;
}

.navi-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    a {
        height: 50px;
    }

    img {
        height: 50px;
    }
}

.navi-link {
    display: flex;
    align-items: center;
    gap: 60px;

    a {
        height: 30px;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #bababa;
        text-decoration: none;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }

    a:hover, .active {
        color: #000;
        border-bottom: 2px solid #000;
    }
}

/* ========= mobile menu ========== */
.mobile-menu {
    display: none;
}

.visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

.hamburger {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: $color-grey;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

/* HAMBURGER */
.checkbox:checked + label > .hamburger1 > .bar1{
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px
}

.checkbox:checked + label > .hamburger1 > .bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}

.checkbox:checked + label > .hamburger1 > .bar3 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox:checked + label > .hamburger1 > .bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
}

.opn-mobile-menu {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* padding-top: 15%; */
    font-size: 32px;
    background: white;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

@media (max-width: 750px) {
    .navi-link {
        display: none;
    }

    .mobile-menu {
        display: unset;
    }
}