<footer class="margin-site">
    <a [routerLink]="'/imprint'" (click)="siteNavigation.goToAnchor('/imprint', 'impressum')">Impressum - Datenschutz</a>
    <div class="footer-logo-container noselect">
        <a href="https://github.com/a13xl" target="_blank" rel="noopener noreferrer" style="border-radius: 100%;">
            <img src="assets/img/icons/github.png" alt="GitHub logo">
        </a>
        <a href="https://linkedin.com/in/alexander-lovasz-4574451b7" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/icons/linkedin.png" alt="LinkedIn logo">
        </a>
        <a href="https://xing.com/profile/Alexander_Lovasz2" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/icons/xing.png" alt="Xing logo">
        </a>
    </div>
</footer>
