// import globale style
@import "src/_globals.scss";

$height: 556px;
$width: 770px;
$nav-height: 60px;

#home {
    margin-top: 60px; // height nav-bar
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    color: white;
}

.header-img {
    margin: 0;
    max-width: 100%;
    overflow: hidden;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: transparent;
    flex-direction: column;


    img {
        position: relative;
        height: 700px;
        width: 100vw;
        max-width: 100%;
        object-fit: cover;
        object-position: top;
    }

    svg {
        position: absolute;
        height: auto;
        transform: translateY(1%) translateX(0%);

        path {
            fill: white;
        }
    }
}

.header-txt {
    position: absolute;
    width: 511px;
    padding-top: 109px;
    text-align: center;
    z-index: 1;
}

.scroll-down {
    position: absolute;
    left: 50%;
    right: 50%;
    height: calc($height - 16px);


    display: flex;
    justify-content: center;
    align-items: flex-end;

    a {
        height: 54px;
        border-radius: 100%;
    }

    img {
        margin-bottom: 69px;
        border-radius: 100%;
        cursor: pointer;
        filter: invert(0);

        &:hover {
            transform:scale(1.1);
        }
    }
}

@media (min-width: 2700px) {
    .header-container {
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
    }

    .header-img {
        svg {
            transform: translateY(1%) translateX(0.1%);
        }
    }
}

@media (min-width: 3700px) {
    .header-container {
        width: 2967px;
    }
}

@media (max-width: 1000px) {
    .scroll-down {
        position: absolute;
        bottom: 5vh;
        filter: invert(1);
        z-index: 9;
    }

    .header-img img {
        height: calc(55vh - $nav-height);
        object-position: 50% 41%;
    }

    .header-txt {
        position: relative;
        height: calc(45vh - $nav-height);
        width: unset;
        padding-top: 32px;
        color: $color-black;

        h1 {
            font-size: 48px;
            text-transform: uppercase;
        }
    }
}

@media (max-width: 800px) {
    .header-img img {
        //height: 333px;
        object-position: 50% 41%;
    }
}

@media (max-width: 750px) {
    .header-txt h1{
        font-size: 24px;
    }
}

@media (max-width: 365px) {
    .header-img img {
        object-position: 60% 41%;
    }

    .scroll-down {
        bottom: 1vh;
    }
}

@media (max-height: 700px) {
    .scroll-down {
        bottom: 1vh;
    }
}

@media (max-width: 350px) AND (max-height: 680px) {
    h1 {
        font-size: 20px;
    }

    .header-img img {
        height: calc(50vh - $nav-height);
    }

    .header-txt {
        height: calc(50vh - $nav-height);
        font-size: 16px;
    }
}