// import globale style
@import "src/_globals.scss";

$height: 556px;
$width: 770px;

#home {
    margin-top: 60px; // height nav-bar
    display: flex;
    justify-content: center;
}

.header-container {
    height: 630;
    display: flex;
    color: white;
}

.header-img {
    margin: 0;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: transparent;
    flex-direction: column;


    img {
        position: relative;
        height: 700px;
        width: 100vw;
        max-width: 100%;
        object-fit: cover;
        object-position: top;
    }

    svg {
        position: absolute;
        /* left: 50%; */
        height: auto;
        width: 100vw;
        max-width: 100%;
        transform: translateY(1%) translateX(0%);

        path {
            fill: white;
        }
    }
}

.header-txt {
    position: absolute;
    width: 511px;
    padding-top: 109px;
    text-align: center;
    z-index: 1;
}

.scroll-down {
    position: absolute;
    left: 50%;
    right: 50%;
    height: calc($height - 16px);


    display: flex;
    justify-content: center;
    align-items: flex-end;

    a {
        height: 54px;
        border-radius: 100%;
    }

    img {
        margin-bottom: 69px;
        filter: invert(1);
        border-radius: 100%;
        cursor: pointer;
        filter: invert(0);

        &:hover {
            transform:scale(1.1);
        }
    }
}

@media (min-width: 2700px) {
    .header-container {
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 3700px) {
    .header-container {
        width: 2967px;
    }
}