// import globale style
@import "src/_globals.scss";

$height: 556px;
$width: 770px;

.header-container {
    height: $height;
    display: flex;

    /* background-color: white; */
    color: black;
}

.header-img {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: transparent;
    flex-direction: column;


    img {
        position: relative;
        height: $height;
        width: $width;
        object-fit: contain;
    }

    svg {
        position: absolute;
        /* left: 50%; */
        height: auto;
        width: calc($width + 3px);
        transform: translateY(0%) translateX(0.2%);

        path {
            fill: white;
        }
    }
}

.header-txt {
    position: absolute;
    width: 511px;
    padding-top: 109px;
    text-align: center;
    z-index: 1;

    /* mix-blend-mode: difference; */

    /* background: linear-gradient(to right, #000 100%, #fff 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.scroll-down {
    position: absolute;
    left: 50%;
    right: 50%;
    height: calc($height - 16px);


    display: flex;
    justify-content: center;
    align-items: flex-end;

    a {
        height: 54px;
        border-radius: 100%;
    }

    img {
        margin-bottom: 69px;
        filter: invert(1);
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            transform:scale(1.1);
        }
    }
}

@media (max-width: 1992px) {
    .header-container {
        height: 630px;
        color: white;
        text-shadow: 2px 1px 0 black;
    }

    .header-img {
        margin: 0;

        img {
            height: 700px;
            width: 100vw;
            max-width: 100%;
            object-fit: cover;
            object-position: top;
        }

        svg {
            width: 100vw;
            max-width: 100%;

            transform: translateY(2%) translateX(0.01%);
        }
    }

    .scroll-down {
        img{
            filter: invert(0);
        }
    }
}