<section id="home">
    <div class="header-container">
        <div class="header-img margin-site noselect">
            <img src="assets/img/profile01.png">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1794 105">
                <path d="M -0.09,84.00 C 864.00,-177.00 573.00,303.00 1794.01,-0.01
                        1794.01,-0.01 1794.01,105.00 1794.01,105.01 1794.01,105.01 -0.01,105.00 -0.01,105.00" />
            </svg>
        </div>
        <div class="header-txt margin-site">
            <h1>Alexander Lovasz</h1>
            <span>
                Hallo! Mein Name ist Alexander (Alex) Lovasz und ich bin ein aufstrebender Fullstack-Entwickler. <br>
                Ich lade Sie herzlich ein, mein Portfolio zu erkunden und sich von meinen bisherigen Projekten inspirieren zu lassen.
            </span>
        </div>
        <div class="scroll-down noselect">
            <a (click)="siteNavigation.goToAnchor('/', 'projects')">
                <img src="assets/img/icons/arrow-down-eclipse.png" alt="arrow down">
            </a>
        </div>
    </div>
</section>