// import globale style
@import "src/_globals.scss";

h2 {
    margin-top: 51px;
    margin-bottom: 0;
}

img {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#about-me {
    position: relative;
    margin-top: calc(60px + 64px); // height nav-bar + margin-top
    scroll-margin-top: calc(60px + 64px); // height nav-bar + margin-top
}

.box {
    max-width: 100%;
    margin-bottom: 64px;
    background-color: $background-color02;
}

.about-me-container {
    /* height: 581px; */

    display: flex;
    justify-content: space-between;
}

.profile-picture {
    width: 50%;
    object-fit: cover;
    object-position: top;
}

.about-me-txt {
    padding: 0 7% 0 7%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        color: $color-black;
        text-align: center;
    }
}

.underline-h2 {
    height: 4px;
    width: 178px;
    margin-top: 10px;
    margin-bottom: calc(3px + $spacing-L);
    background-color: #0A0A0B;
    border-radius: 6px;
}

.underline-txt {
    height: 1px;
    width: 178px;
    margin-top: 29px;
    margin-bottom: calc(22px + $spacing-L);
    background-color: #0A0A0B;
    border-radius: 6px;
}

.skill-box {
    margin-bottom: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    div {
        position: relative;
        height: 80px;
        width: 85px;
        margin-bottom: 15px;

        &:hover {
            img {
                transform: scale(0.8);
            }
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }

    span {
        position: relative;
        height: 40px;
        width: 100%;
        margin-top: -45px;

        font-size: 16px;
        background-color: rgba(0,0,0,0.5);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 1;
    }
}

.quote-container {
    margin-bottom: 64px;
    background-color: $background-color02;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-icon {
    height: 82px;
    width: 82px;
    margin: 38px 0 38px 0;

    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-txt {
    margin: 0 15% 6px 15%;
    text-align: center;
    color: $color-grey;
}

.quote-author-img {
    height: 75px;
    width: 75px;
    margin: 26px 0;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
}

.quote-author-name {
    font-weight: bold;
}

.underline-quote {
    margin: 36px 0 38px 0;
    display: flex;
    gap: 4px;

    div {
        background-color: $color-primary;
    }

    .underline-quote-line {
        height: 6px;
        width: 23px;
        border-radius: 6px;
    }

    .underline-quote-circle {
        height: 6px;
        width: 6px;
        border-radius: 100%;
    }
}

@media (max-width: 1290px) {
    .about-me-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture {
        width: 450px;
        margin-top: 150px;
    }

    .about-me-txt {
        padding-top: 45px;
    }

    .about-me-headline {
        position: absolute;
        top: 0;
    }
}