<section id="about-me">
    <div class="about-me-container margin-site box">
        <img class="profile-picture" src="assets/img/profile02.jpg" alt="Photo 2 of me">
        <div class="about-me-txt">
            <div class="about-me-headline">
                <h2>Über mich</h2>
                <div class="underline-h2"></div>
            </div>
            
            <span>
                "Seit 2019 arbeite ich in der IT, bzw. seit 2010 in IT nahen Jobs. <br>
                Zurzeit bin ich als Clientadministrator tätig. <br>
                Nebenberuflich habe ich eine Weiterbildung zum Betriebsinformatiker (HWK) erfolgreich abgeschlossen
                und mache gerade bei Developer Akademie den Fullstack Entwickler."
            </span>
            <div class="underline-txt"></div>

            <div class="skill-box">
                <div *ngFor="let skill of skills; let i = index;" (mouseover)="toggleText(i)" (mouseout)="toggleText(i)">
                    <img src="{{ skill['img'] }}" alt="{{ skill['name'] }} Picture">
                    <span #skillTitle class="d-none">{{ skill['name'] }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="quote-container margin-site">
        <div class="quote-icon"><img src="assets/img/icons/quote.png" alt="quote icon"></div>
        <span class="quote-txt">
            “If you always do what you've always done, you'll always get what you've always got.”
        </span>
        <img class="quote-author-img" src="assets/img/quote_author.jpg" alt="picture of quote author">
        <span class="quote-author-name">Henry Ford, CTO</span>
        <div class="underline-quote">
            <div class="underline-quote-line"></div>
            <div class="underline-quote-circle"></div>
            <div class="underline-quote-circle"></div>
        </div>
    </div>
</section>