// import globale style
@import "src/_globals.scss";

$spacing-input-label-top: 20px;
$width-input: 612px;

.contact-container {
    margin-top: calc(58px - 0.83em);
    margin-bottom: 56px;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
        width: $width-input;
        color: $color-grey;
        text-align: center;
    }

    a {
        color: $color-primary;
        text-decoration: none;

        &:hover {
            color: $color-action;
        }
    }
}

.contact-form {
    margin-top: calc(60px - $spacing-input-label-top);

    display: flex;
    flex-direction: column;

    label {
        margin: $spacing-input-label-top 0 16px 0;
        color: $color-black;
    }

    input, textarea {
        height: 39px;
        width: $width-input;
        padding: 0 13.5px;

        font-size: 18px;
        color: $color-black;
        background-color: $color-secondary;
        border-radius: 6px;
        border: 0;

        &:focus, :focus-visible {
            outline: 1px solid $color-primary;
        }
    }

    textarea {
        height: 179px - 22px;
        padding-top: 11px;
        padding-bottom: 11px;

        resize: none;
    }
}

button {
    margin-top: 14px;
    padding: 20px 41px;
    font-weight: normal;

    &:disabled {
        background-color: #b3c8ea;
        border: 1px solid #b3c8ea;
        cursor: unset;

        &:hover {
            background-color: #b3c8ea;
        }
    }
}

.input-invalid {
    /* background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50%; */
    background: url("/assets/img/icons/warning.png") no-repeat 98% 50%;
    background-size: 20px;
    outline: 1px solid $color-red;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.sent-message {
    position: absolute;
    margin-top: 380px;
    
    span {
        padding: 13px 21px;
        color: white;
        background-color: $color-primary;
        font-weight: bold;
        border-radius: 6px;
    }
}

@media (max-width: 800px) {
    .contact-container span {
        width: unset;
    }

    .contact-form {
        width: 100%;

        input, textarea {
            width: unset;
        }
    }
}

@media (max-width: 380px) {
    button {
        padding: 15px;
    }
}

@media (max-width: 322px) {
    .sent-message {
        margin-top: 440px;
    }
}