// import globale style
@import "src/_globals.scss";

.project-container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin: 0;
    color: #0E0D0D;
/*     border: 1px solid red; */
}

.underline {
    height: 4px;
    width: 256px;
    margin-top: 13px;
    margin-bottom: calc(79px - $spacing-L);
    background-color: #0A0A0B;
    border-radius: 6px;
}

.category {
    display: flex;
    gap: 15px;

    button {
        padding: 20px 30px;

        &:disabled {
            background-color: #b3c8ea;
            border: 1px solid #b3c8ea;
            cursor: unset;

            &:hover {
                background-color: #b3c8ea;
            }
        }
    }
}

.project-box {
    height: 527px;
    width: 100vw;
    max-width: 100%;
    margin-top: $spacing-L;
    background-color: $background-color02;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;

    img {
        /* height: 301px; */
        width: 450px;
        border: 1px solid black;
    }
}

.project-reverse {
    flex-direction: row-reverse;
}

.project-txt {
    width: 478px;
    gap: 45px;
    color: $color-grey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    div {
        display: flex;
        gap: $spacing-L;

        button {
            padding: 20px 30px;
        }
    }
}

