<div class="project-container">
    <h2>Meine Projekte</h2>
    <div class="underline"></div>

    <div *ngFor="let project of projects; let i = index;" [ngClass]="{'project-reverse': 0 != i % 2}" class="project-box">
        <div class="project margin-site">
            <img class="noselect" src="{{ project['picture'] }}">
            <div class="project-txt">
                <h2>{{ project['name'] }}</h2>
                <span>{{ project['description'] }}</span>
                <div class="noselect">
                    <a href="{{ project['github'] }}" target="_blank" rel="noopener noreferrer"><button class="btn btn-empty">GitHub</button></a>
                    <a href="{{ project['link'] }}" target="_blank" rel="noopener noreferrer"><button class="btn btn-full">Ausprobieren</button></a>
                </div>
            </div>
        </div>
    </div>
</div>