<div class="project-container">
    <h2>Meine Projekte</h2>
    <div class="underline"></div>
    <div class="project-box">
        <div class="project margin-site">
            <img class="noselect" src="assets/img/projects/el-pollo-loco.png">
            <div class="project-txt">
                <h2>EL POLLO LOCO</h2>
                <span>Dies ist ein mexikanisches Jump and Run Spiel. 
                    Sie müssen über Hühner springen und Münzen und Tabasco einsammeln. 
                    Im letzten Level müssen Sie das verrückte Huhn durch 
                    Tabasco schmeißen besiegen.
                </span>
                <div class="noselect">
                    <button class="btn btn-empty" (click)="codeProject()">GitHub</button>
                    <button class="btn btn-full" (click)="tryProject()">Ausprobieren</button>
                </div>
            </div>
        </div>
    </div>
</div>