// import globale style
@import "src/_globals.scss";

.impressum {
    margin-top: 64px;
    padding: $spacing-L $spacing-XXL;
    background-color: $background-color02;
}

.privacy-policy {
    margin-top: 64px;
    margin-bottom: 64px;
    padding: $spacing-L $spacing-XXL;

    background-color: $background-color02;
}

a {
    color: $color-primary;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $color-action;
    }
}