/* colors */
$background-color02: #F2F2F2;
$color-primary: #126BFB;
$color-secondary: #EEF4FF;
$color-action: #7BB9FA;
$color-grey: #5b5963;
$color-black: #282828;
$color-red: #F34E4E;
$color-hover: #0349B9;

/* spacing */
$spacing-XS: 16px;
$spacing-L: 32px;
$spacing-XL: 46px;
$spacing-XXL: 142px;