// import globale style
@import "src/_globals.scss";

/* globale style */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'karla', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

.margin-site {
    margin: 0px 10% 0px 10%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.d-none {
    display: none !important;
}

.btn {
    font-size: 18px;
    border: 1px solid $color-primary;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        color: white;
        background: $color-hover;
    }
}

.btn-full {
    font-weight: bold;
    color: white;
    background: $color-primary;
}

.btn-empty {
    color: $color-primary;
    background: transparent;
}