/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'karla', sans-serif;
    font-size: 18px;
}

.margin-site {
    margin: 0px 50px 0px 50px;
}